<%- include('../inc/header') %>
<link rel="stylesheet" href="/css/orders.css" type="text/css" />
</head>
<body>
<%- include('../inc/nav.ejs') %>
<main>
  <!-- content goes here -->
  <% if (orders.length <= 0) { %>
    <h1>You don't have any orders yet!</h1>
  <% } else { %>
    <ul class="orders">
      <% orders.forEach(order => { %>
        <li class="orders__item">
          <h1>Order - # <%= order._id %> - View <a href="/orders/<%= order._id %>">Invoice</a></h1> 
        </li>
          <ul class="orders__products">
            <% order.products.forEach(p => { %>
              <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>) 
            <% }); %>
          </ul>
        </li>
      <% }); %>
    </ul>
  <% } %>
</main>
<%- include('../inc/footer.ejs') %>